accelerate==1.15.0
datasets==5.0.1
einops==0.8.2
matplotlib==3.11.2
muonium==0.2.0
numpy==2.5.3
opencv-python==5.0.0.93
requests==2.34.2
rotary_embedding_torch==0.9.1
tensorboard==2.21.0
tiktoken==0.14.0
torch==2.14.0
torchvision==0.29.0
tqdm==4.70.1
transformers==5.17.0
wandb==0.30.0
